#parent {
  background-color: crimson;
  /* height: 1000px; */
  padding-bottom: 40px;
}

#parent2 {
  background-color: cyan;
  /* height: 550px; */
  padding: 40px 60px;
}

#parent3 {
  background-color: rgb(36, 37, 37);
  /* height: 550px; */
  padding: 40px 60px;
}

#row1 {
  /* background-color: darkblue; */
  /* height: 480px; */
}

#box1 {
  height: 470px;
  /* background-color: darkgreen; */
  padding: 10px;
}

#box2 {
  height: 470px;
  /* background-color: rgb(0, 0, 0); */
  padding: 10px;
}

#box3 {
  height: 470px;
  /* background-color: rgb(6, 80, 93); */
}

.mini1 {
  height: 100%;
  background-color: rgb(15, 179, 15);
}

.mini2 {
  height: 100%;
  background-color: rgb(219, 153, 11);
}
.mini3 {
  height: 100%;
  background-color: rgb(255, 13, 13);
}
.parent {
background-color: tomato;
height: 800px;
}


.sliderImg {
  width: 100%;
  height: 400px;
  object-fit: cover;
}