
.parent {
background-color:white;
height: 800px;
}


.sliderImg {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.footer{
  background: #152F4F;
  color:white;
}
ul{
  list-style-type: none
}
li a{
      color: white;
      transition: color .2s;}
      a:hover{
        text-decoration:none;
        color:#4180CB;
        }
   
    i{font-size: 25px;}
    a{
      color:white;
      transition: color .2s;}
      a:hover{color:#4180CB}
   
    i{font-size: 18px;}
  .copyright p{border-top:1px solid rgba(255,255,255,.1);} 
.shoaib{
  background-color: yellowgreen;
  height: auto;

}